<div id="message-sent" class="notification success hidden">Thanks for your email! I'll get back to you soon.</div>
<div id="message-not-sent" class="notification failure hidden">I'm sorry, there was a problem sending your email. Please try later.</div>
<form id="contact-form" method="POST" action="https://www.enformed.io/20urryaq" class="contact">
    <ul>
        <li><input type="text" name="name" placeholder="Name" required /></li>
        <li><input type="email" name="email" placeholder="Email" required /></li>
        <li><textarea name="message" rows="4" placeholder="Message" required></textarea></li>
        <li><input type="submit" value="Send email" /></li>
    </ul>
    <input type="hidden" name="*subject" value="jmln.me|contact" />
    <input type="hidden" name="*reply" value="email" />
    <input type="hidden" name="*honeypot" />
</form>
