<div id="message-sent" class="notification success hidden">
    Thanks for your email! I'll get back to you soon.
</div>
<div id="message-not-sent" class="notification failure hidden">
    I'm sorry, there was a problem sending your email. Please try later.
</div>
<form id="contact-form"  class="contact" method="POST"
        action="{{ site.contact_form_server_url }}">
    <ul>
        <li class="offscreen">
	    <label for="name">Your name (if you're made of bits)</label>
            <input id="name" type="text" name="name" />
	</li>
	<li class="offscreen">
	    <label for="email">Your email (if you're made of bits)</label>
            <input id="email" type="text" name="email" />
	</li>
	<li class="offscreen">
	    <label for="message">Your message (if you're made of bits)</label>
	    <input id="message" type="text" name="message" />
        </li>
        <li>
            <label for="d27b">Your name</label>
            <input id="d27b" type="text" name="d27b" required />
        </li>
        <li>
            <label for="30e9">Your email</label>
            <input id="30e9" type="email" name="30e9" required />
        </li>
        <li>
            <label for="da2e">Your message</label>
            <textarea id="da2e" name="da2e" rows="4" required></textarea>
        </li>
        <li><input type="submit" value="Send email" /></li>
    </ul>
</form>
