---
layout: default
---

<header>
    <h1>{{ site.data.vita.header }}</h1>
    <ul class="contact-data">
        <li class="contact-link"><i class="fas fa-envelope" aria-hidden="true" title="email"></i> <a href="#contact">Contact</a></li>
    </ul>
    <p>{{ site.data.vita.introduction }}</p>
</header>

<section id="experience">
    <h2>Experience</h2>

    {%- for job in site.data.vita.experience -%}
    <div class="experience">
        <h3>{{ job.title }}</h3>
        <aside>
            <ul>
                <li><i class="far fa-calendar" aria-hidden="true" title="Dates"></i> {{ job.start }} &rArr; {{ job.end }}</li>
                <li><i class="fas fa-globe-americas" aria-hidden="true" title="Location"></i> {{ job.location }}</li>
                <li><i class="far fa-building" aria-hidden="true" title="Business"></i> {{ job.sector }}</li>
                <li><i class="fas fa-link" aria-hidden="true" title="Website"></i> {{ job.website | markdownify | remove: '<p>' | remove: '</p>' }}</li>
            </ul>
        </aside>
        <div class="description">
            <h4>{{ job.short_description }}</h4>

            <button class="read-more hidden">Read more</button>

            {{ job.long_description | markdownify }}
        </div>
    </div>
    {%- endfor -%}

</section>

<section id="studies">
    <h2>University studies</h2>

    {%- for study in site.data.vita.studies -%}
    <div class="experience">
        <h3>{{ study.title }}</h3>
        <aside>
            <ul>
                <li><i class="far fa-calendar" aria-hidden="true" title="Dates"></i> {{ study.start }} &rArr; {{ study.end }} </li>
                <li><i class="fas fa-globe-americas" aria-hidden="true" title="Location"></i> {{ study.location }}<li>
                <li><i class="far fa-building" aria-hidden="true" title="Business"></i> {{ study.institution }}</li>
                <li><i class="fas fa-link" aria-hidden="true" title="Website"></i> {{study.website | markdownify | remove: '<p>' | remove: '</p>' }}</li>
            </ul>
        </aside>
    </div>
    {%- endfor -%}
</section>

<section>
    <h2>Languages</h2>
    <div class="experience">
        {{ site.data.vita.languages | markdownify }}
    </div>
</section>

<section>
    <h2>Interests</h2>
    <div class="experience">
        {{ site.data.vita.interests | markdownify }}
    </div>

</section>

<section id="contact">
    <h2>Contact me</h2>
    {%- include contact-form.html -%}
</section>

{{ content }}
