---
layout: default
---

<header>
    <h1>{{ site.data.vita.header }}</h1>
    <ul class="contact-data">
        <li class="contact-link"><i class="fas fa-envelope" aria-hidden="true" title="email"></i> <a href="#contact">Contact</a></li>
    </ul>
    {{ site.data.vita.introduction | markdownify }}
</header>

<section id="experience">
    <h2>Experience</h2>
    {%- for job in site.data.vita.experience -%}
        {%- include experience.html
            title = job.title
            start = job.start
            end = job.end
            location = job.location
            sector = job.sector
            website = job.website
            short_description = job.short_description
            long_description = job.long_description -%}
    {%- endfor -%}
</section>

<section id="studies">
    <h2>University studies</h2>
    {%- for study in site.data.vita.studies -%}
        {%- include experience.html
            title = study.title
            start = study.start
            end = study.end
            location = study.location
            sector = study.institution
            website = study.website -%}
    {%- endfor -%}
</section>

<section>
    <h2>Languages</h2>
    <div class="experience">
        {{ site.data.vita.languages | markdownify }}
    </div>
</section>

<section id="contact">
    <h2>Contact me</h2>
    {%- include contact-form.html -%}
</section>

{{ content }}
